* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: sans-serif;
}

header {
  background-image: linear-gradient(white, rgba(135, 207, 235, 0.4));
  text-align: center;
  padding-bottom: 0.8em;
  margin: 3.5em 0;
  font-weight: 800;
}

.search-bar {
  width: 65%;
  height: 20%;
  margin: 0 auto;
  background-color: rgba(135, 207, 235, 0.446);
  margin-bottom: 50px;
  border-radius: 15px;
}

.gadget-container {
  overflow: scroll;
}

.gadget {
  display: flex;
  width: 65%;
  height: 20%;
  margin: 0 auto;
  border-radius: 8px;
  align-items: center;
  border: 1px solid #999;
  margin-bottom: 50px;
}

.gadget:has(.frequently):hover {
  box-shadow: 0px 0px 5px 5px var(--frequently);
}

.image-container {
  height: 40%;
  width: 30%;
  align-self: center;
  padding: 10px;
  margin-right: 50px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  line-height: 5em;
}

.name {
  font-weight: 500;
  font-size: 24px;
}

.description {
  line-height: 1.5em;
  font-size: 18px;
  font-weight: 200;
}

.category {
  color: rgba(255, 255, 255, 0.839);
  margin-top: 10px;
  padding: 10px;
  border-radius: 25px;
  font-weight: 400;
}

.Time-Space {
  background-color: rgba(36, 169, 203, 0.991);
}

.Daily-Use {
  background-color: lightseagreen;
}

.Combat {
  background-color: rgba(128, 0, 128, 0.75);
}

.Transformation {
  background-color: rgba(255, 68, 0, 0.782);
}
